{%extends "index.html"%}
    {%block content%}
    <!-- <h2 class="pb-2 border-bottom">Cupcakes</h2> -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 d-flex align-items-center justify-content-center py-3">
        {% for cupcake in cupcakes%}
            <div class="cupcake-card col p-2 m-2">
                <div>
                    <h4 class="fw-bold mb-2">{{cupcake["name"]}}</h4>
                    <p>Price : {{cupcake["price"]}}</p>
                    <p>Size : {{cupcake["size"]}}</p>
                    <p>Flavor : {{cupcake["flavor"]}}</p>
                    <p>Filling : {{cupcake["filling"]}}</p>
                    <p>Frosting : {{cupcake["frosting"]}}</p>
                    {% if type=="all" %}
                    <a  class="btn btn-primary" href="{{ url_for('add_to_cart', name=cupcake['name']) }}">Add to cart</a>
                    {% else %}
                    <a  class="btn btn-primary" href="{{ url_for('all_cupcake',type='all')}}">Add More..</a>
                    {% endif %}
                </div>
            </div>
        {%endfor%}
    </div>
    {%endblock%}