{%extends "index.html"%}
    {%block content%}
    <!-- <h2 class="pb-2 border-bottom">Cupcakes</h2> -->
    <div class="d-flex align-items-center justify-content-center py-3">
        {% if cupcake %}
        <div class="cupcake-card col p-4 m-2">
            <div>
                <h4 class="fw-bold mb-2">{{cupcake["name"]}}</h4>
                <p>Price : {{cupcake["price"]}}</p>
                <p>Size : {{cupcake["size"]}}</p>
                <p>Flavor : {{cupcake["flavor"]}}</p>
                <p>Filling : {{cupcake["filling"]}}</p>
                <p>Frosting : {{cupcake["frosting"]}}</p>
                <a  class="btn btn-primary" href="{{ url_for('add_to_cart', name=cupcake['name']) }}">Add to cart</a>
            </div>
        </div>
        {% else %}
            <h1 class="pb-3 ">Sorry cupcake not found.</h1>
        {% endif %}
    </div>
    {%endblock%}